services:
  - type: web
    name: esearch-web
    env: python
    buildCommand: ./build.sh
    startCommand: gunicorn esearch_project.wsgi:application
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
